/* Signature Pad Styles */
.m-signature-pad {
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 1px;
    margin-bottom: 15px;
    max-width: 600px; /* Vergrößerte maximale Breite des Unterschriftenfeldes */
    width: 100%;
    box-sizing: border-box;
}

.m-signature-pad--body canvas {
    width: 100%; /* Breite des Canvas-Elements anpassen */
    height: 120px;
    background-color: #fafafa;
    border: none;
    border-radius: 3px;
}



/* Button Styles */
.actionButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.submitButton {
    background-color: #6e7b8b; /* Blaugrau */
    color: white;
}

.clearButton {
    background-color: #000; /* Schwarz */
    color: white;
}

.saveButton {
    background-color: #d9534f; /* Rot */
    color: white;
}

/* Hover effects for buttons */
.actionButton:hover {
    opacity: 0.9;
}
