/* Reduce the height of the navbar with a more specific selector */
.navbar.navbar-custom {
    background-color: black;
    border: 0 !important;
    border-radius: 0 !important;
    height: 40px !important; /* Adjust the height as needed */
}

/* Set the font to Oswald regular for the navbar text */
.navbar-custom .navbar-nav > li > a {
    color: lightgray;
    font-family: 'Oswald', sans-serif; /* Use Oswald regular or the appropriate font name */
}

/* Make selected (active) text black */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}

.navbar-custom .navbar-nav > .active > a:hover{
    background-color: red;
    color: white;
}

.logo-container{
    margin: 2rem;
}
/* Custom styles for the search field and button */
.custom-search-form {
    margin-top: 7px;
}

.custom-search-input {
    border: none;
    border-radius: 0;
    background-color: #333; /* Dark gray background */
    color: #ccc;
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-search-input:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
}

.custom-search-button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 10px;
    color: #fff;
    font-size: 16px; /* Adjust the size as needed */
    text-align: center; /* Center the icon horizontally */
}

.custom-search-button:hover {
    background-color: transparent;
}
 .navbar{
     min-height: 0;
 }

 @media (min-width: 768px) {
  .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

.custom-search-input{
    top: -0.4rem;
}

.custom-search-button{
    top: -0.8rem;
    position: relative;
}

.img{
    height: 12rem;
}

/* Style for the logo text */
.logo-text {
    display: flex;
    align-items: center;


}

.logo-heading {
    font-size: 50px; /* Adjust the font size as needed */
    margin-left: 10px; /* Add margin to separate logo and text */
    color: #333; /* Text color */
    font-family: 'Oswald', sans-serif; /* Use Oswald font */
    font-weight: bolder;
}


.topText{
    margin-bottom: -2rem;
    margin-top: 1rem;
}

/* Activate dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Remove indicator arrow */
.dropdown-toggle::after {
    content: none;
}
.text-block{
    margin-left: 10rem;
    margin-top: 6rem;
}