<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block head %}
        {% endblock %}
    <!-- links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <!-- scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>