<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signature_style.css">
    <script type="text/javascript" src="/static/script/signature_pad.js"></script>


    <title>Document</title>
{% endblock %}

{% block body %}
    <h1>Index</h1>
{% endblock %}

<body>
    <p>++hier kommt der obere Teil des Formulars++</p>

    <div class="w3-container">    
   
        
        <form class="w3-container" action="/download_pdf" method="POST" name="DAFORM" onSubmit="submitForm();" enctype="multipart/form-data" target="_self">
            <div id="signature-pad" class="m-signature-pad">
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                    <input type="hidden" name="signature" id="signature" value="">
                </div>
            </div>        
    
            <button type="submit" class="w3-btn w3-blue-grey">Absenden</button>
            <button type="button" class="w3-btn w3-black" onclick="signaturePad.clear();">Löschen</button>
            <button type="button" class="w3-btn w3-red" onclick="download('sig.png');">Speichern</button>
        </form>
    </div>

    <script type="text/javascript">
        var wrapper = document.getElementById("signature-pad"),
           canvas = wrapper.querySelector("canvas"),
           signaturePad;
        
        /**
        *  Behandlung der Größenänderung der Unterschriftenfelds
        */
        function resizeCanvas() {
            var oldContent = signaturePad.toData();
            var ratio =  Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
            signaturePad.clear();
            signaturePad.fromData(oldContent);
        }
        
        
        /**
        *  Speichern des Inhaltes als Bild
        */
        function download(filename) {
          var blob = dataURLToBlob(signaturePad.toDataURL());
          var url = window.URL.createObjectURL(blob);
        
          var a = document.createElement("a");
          a.style = "display: none";
          a.href = url;
          a.download = filename;
        
          document.body.appendChild(a);
          a.click();
        
          window.URL.revokeObjectURL(url);
        }
        
        /**
        * DataURL in Binär umwandeln
        */
        function dataURLToBlob(dataURL) {
          // Code von https://github.com/ebidel/filer.js
            var parts = dataURL.split(';base64,');
            var contentType = parts[0].split(":")[1];
            var raw = window.atob(parts[1]);
            var rawLength = raw.length;
            var uInt8Array = new Uint8Array(rawLength); 
        
          for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
          }
        
          return new Blob([uInt8Array], { type: contentType });
        }
        
        /**
        * Behanlung beim Absenden, damit der Inhalt des Canvas
        * übermittelt werden kann, wird dieser als DataURL dem
        * versteckten Feld zugewiesen    
        */
        function submitForm() {
            //Unterschrift in verstecktes Feld übernehmen
            document.getElementById('signature').value = signaturePad.toDataURL();
        }
        
        
        var signaturePad = new SignaturePad(canvas);
        signaturePad.minWidth = 1; //minimale Breite des Stiftes
        signaturePad.maxWidth = 5; //maximale Breite des Stiftes
        signaturePad.penColor = "#000000"; //Stiftfarbe
        signaturePad.backgroundColor = "#FFFFFF"; //Hintergrundfarbe
        
        window.onresize = resizeCanvas;
        resizeCanvas();
        
        </script>    
        
</body>
</html>