{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mitgliedsantrag.css') }}">
    <title>Membership Application</title>
</head>
<body>
<div class="containerMain">
    <div>
        <h1 class="main-heading">Mitgliedsantrag</h1>
        <!-- Radio button group -->
        <div class="radio-button-group">
            <label class="radio-button">
                <input type="radio" name="membership-type" value="new-membership">
                Neumitgliedschaft
            </label>
            <label class="radio-button">
                <input type="radio" name="membership-type" value="family-membership">
                Umstellung Familienmitgliedschaft
            </label>
            <label class="radio-button">
                <input type="radio" name="membership-type" value="fee-exemption">
                Antrag auf Beitragsbefreiung
            </label>
        </div>
        <div class="sub-heading">Persönliche Daten</div>
        <!-- Personal data fields -->
        <div class="flexPersonalDataGroup">
            <!-- Field 1 -->
            <div class="flexPersonalDataField">
                <div class="radioCheck">
                    <input class="" id="male" type="radio" name="gender">
                    <label for="male">M</label>
                    <input class="" id="female" type="radio" name="gender">
                    <label for="female">W</label>
                </div>
                <!-- Input fields and labels for personal data -->
                <input class="inputField" placeholder="Vorname">
                <input class="inputField" placeholder="Name, Titel">
                <input class="inputField" placeholder="Geburtsdatum">
                <input class="inputField" placeholder="E-Mail">
                <input class="inputField" placeholder="Telefon/Mobil">
                <label class="labelCheck"><input type="checkbox">
                Ich bin bereit im Verein eine ehrenamtliche Aufgabe zu übernehmen

                </label>
            </div>
            <!-- Field 2 -->
            <div class="flexPersonalDataField">
                <div class="radioCheck">
                    <input class="" id="familyMale" type="radio" name="familyGender">
                    <label for="familyMale">M</label>
                    <input class="" id="familyFemale" type="radio" name="familyGender">
                    <label for="familyFemale">W</label>
                </div>
                <!-- Input fields and labels for personal data -->
                <input class="inputField" placeholder="Vorname">
                <input class="inputField" placeholder="Name, Titel">
                <input class="inputField" placeholder="Geburtsdatum">
                <input class="inputField" placeholder="E-Mail">
                <input class="inputField" placeholder="Telefon/Mobil">
                <label class="labelCheck"><input type="checkbox">
                Ich bin bereit im Verein eine ehrenamtliche Aufgabe zu übernehmen
                </label>
            </div>
            <!-- Field 3 -->
            <div class="flexPersonalDataField">
                <div class="radioCheck">
                    <input class="" id="recommendationMale" type="radio" name="recommendationGender">
                    <label for="recommendationMale">M</label>
                    <input class="" id="recommendationFemale" type="radio" name="recommendationGender">
                    <label for="recommendationFemale">W</label>
                </div>
                <!-- Input fields and labels for personal data -->
                <input class="inputField" placeholder="Vorname">
                <input class="inputField" placeholder="Name, Titel">
                <input class="inputField" placeholder="Geburtsdatum">
                <input class="inputField" placeholder="E-Mail">
                <input class="inputField" placeholder="Telefon/Mobil">
                <label class="labelCheck"><input type="checkbox">
                Ich bin bereit im Verein eine ehrenamtliche Aufgabe zu übernehmen
                </label>
            </div>
        </div>
    </div>
    <!-- Sports selection -->
    <div>
        <h2 class="sub-heading">Sportart(en)</h2>
        <div class="sportSelectionGroup">
            <!-- Sport Selection Columns -->
            <div class="sportSelectionColumn">
                <label><input type="checkbox">Handball</label>
                <label><input type="checkbox">Fußball</label>
                <label><input type="checkbox">Turnen</label>
                <label><input type="checkbox">Judo</label>
                <label><input type="checkbox">Badminton</label>
                <label><input type="checkbox">Tischtennis</label>
                <label><input type="checkbox">Kinterturnen</label>
            </div>
            <div class="sportSelectionColumn">
                <label><input type="checkbox">Mutter-/Kind</label>
                <label><input type="checkbox">Ballschule</label>
                <label><input type="checkbox">Seniorensport</label>
                <label><input type="checkbox">Klettern</label>
                <label><input type="checkbox">Volleyball</label>
                <label><input type="checkbox">Indica</label>
                <label><input type="checkbox">Faustball</label>
            </div>
            <div class="sportSelectionColumn">
                <label><input type="checkbox">Basketball</label>
                <label><input type="checkbox">Boule</label>
                <label><input type="checkbox">Tae Bo</label>
                <label><input type="checkbox">Pilates</label>
                <label><input type="checkbox">Fitness</label>
                <label><input type="checkbox">Power Workout</label>
                <label><input type="checkbox">Passives Mitglied</label>
            </div>
        </div>
    </div>
    <div class="addressField"><h2 class="sub-heading">Adresse</h2><input class="inputField" placeholder="Straße Hausnr. "><input
            class="inputField" placeholder="Stadt, Postleitzahl"></div>
    <div class="bankField"><h2 class="sub-heading">Bankdaten</h2><input class="inputField" placeholder="IBAN"><input
            class="inputField" placeholder="BIC (nur bei Auslandskonten)"></div>
    <div class="bankField"><h2 class="sub-heading">SEPA Mandate</h2>
        <p>
         	Die Mitgliedschaft ist ausschließlich mit Erteilung eines SEPA-Lastschriftmandats möglich. Zur Einrichtung der Mitgliedschaft im TSV Roßtal wird eine Aufnahmegebühr in Höhe von 15,00 Euro berechnet. Diese Gebühr fällt jeweils bei Wiederaufnahme einer gekündigten Mitgliedschaft erneut an.
            <br>
            <br>
			Gläubiger-Identifikationsnummer des TSV Roßtal e.V.: DE67TSV00002193097
            <br>
            <br>
			Ich ermächtige den TurnSportVerein Roßtal e.V. - widerruflich - zum Einzug der gem. Beitragsordnung geregelten Mitgliedsbeiträge zu Lasten meines vorgenannten Bankkontos per Lastschrifteinzug.
            <br>
            <br>
            <label class="labelCheck" ><input type="checkbox">
            Mit der Unterschrift stimme/n ich/wir explizit der aktuellen Fassung der AGB und der Datenschutzerklärung gem. Website www.tsv-rosstal.de/rechtliches zu.




        </p>
            <div>
                <p style="font-weight: bold">Unterschrift:</p>
                <div class="signature"></div>
                <button class="button">Unterschrift Löschen</button>
            </div>


    	</div>
    <div class="bottomButtons">
        <button class="button">Abbrechen</button>
        <button class="buttonSubmit" type="submit">Bestätigen</button>
    </div>
</div>

{% endblock %}
