{% extends 'base.html' %}

{% block body %}
<body>
  <div class="text-block">
    <h1>Mitglied werden</h1>

    <p>Schön, dass Sie sich für den TSV Roßtal entschieden haben.</p>

    <ol>
        <li>
            Bitte füllen Sie unseren Mitgliedsantrag aus und geben ihn dem entsprechenden Übungsleiter oder werfen ihn in den Postkasten der Geschäftsstelle.
            (gleich rechts nach dem Eingang der Sportmeile)
        </li>
        <li>
            Alternativ kann der Mitgliedsantrag auch digital unterschrieben und per Mail gesendet werden. (siehe unten)
        </li>
        <li>
            Sie erhalten dann per Mail ein Begrüßungsschreiben mit Ihrer Mitgliedsnummer und den Zahlungsinformationen.
        </li>
    </ol>

    <p>
        Eine Kündigung ist nur schriftlich oder per Mail mit einer Frist von vier Wochen zum Jahresende möglich.
        Eine Bestätigung erfolgt nur per Mail.
    </p>

    <p>Die Beiträge sind <a href="#">hier</a> einsehbar.</p>

    <h2>Digital unterschreiben</h2>

    <p>
        Wenn Sie auf das entsprechend Unterschriftenfeld im Mitgliedsantrag klicken, öffnet sich im Acrobat Reader ein Fenster,
        und folgende Schritte sind hier zu tun, falls Sie noch keine digitale ID eingerichtet haben:
    </p>

    <ol>
        <li>Klick „Digitale ID konfigurieren“</li>
        <li>Klick „Neue digitale ID erstellen“</li>
        <li>Klick „Im Windows-Zertifikatsspeicher speichern“</li>
        <li>Angaben ergänzen und „Speichern“</li>
        <li>Abschließend mit der erstellten ID „Unterschreiben“</li>
    </ol>
  </div>
</body>
{% endblock %}